openvpn-casp:
 restart: always
 build: ./build
 container_name: openvpn-casp
 hostname: openvpn-casp
 net: host
 volumes:
  - "./opt-configs:/opt/configs"
 devices:
  - "/dev/net/tun:/dev/net/tun"
 cap_add:
  - NET_ADMIN
 environment:
  PROJECTNAME: "tw-casp"
  OVPN_NET: "10.10.10.0 255.255.255.0"
  OVPN_PORT: "1195"
  OVPN_BIND: "x.x.x.x"

# command:
#   sleep 90000

